@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color:white;
    text-decoration: none;
}
body {
    background-color: black;
}
nav {
    background-color: #15172b;
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    width:100%;
    bottom:0;
    height:17vh;
    border-bottom:2px solid white;
    z-index:10000;
}

ul {
    display:flex;
    flex-direction: row;
    text-decoration: none;;
}

h2 {
    color:white;
    margin-top:20vh;
    margin-bottom:0;
    font-size:2.5rem;
    padding:1rem;
    text-decoration: underline;

}

li {
    padding:1.4rem;
    margin:1rem 2rem;
    font-size:1.5rem;
    list-style: none;
}

h1 {
    padding:1rem;
    margin:0.5rem 0;
    font-size: 2.5rem;
    text-decoration: underline;
}

.odkazy {
    font-size: 1rem;
    padding:0.4rem;
    padding-top:1.7rem;
}

a:hover{
    color:#08d;
    transition: 0.3s;
    opacity:0.7;

}

fieldset {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
    border-style: none;
    height:90vh;
    padding:10rem;
    
}

form {
    margin-top:2rem;

}
fieldset {
    display:flex;
    justify-content: center;
    flex-direction:column;
    width:50vw;
    height:65vh;
    margin:0 auto;
    
}

.form-1 {
    margin-top:40vh;
}

.form {
    display:flex;
    text-align:center;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    padding:0.5rem;
}

input {
    width:50vw;
    border-radius:10px;
    background-color: #303245;
    border-style:none;
    border-radius: 10px;
    color:white;
    padding-left:6px;
    height:3.2vw;
    margin:0.6rem;
    font-size:1rem;
}

.submit {
    background-color: #08d;
    border-radius:10px;
    width:16vw;
    height:4.5vh;
    border-radius:10px;
    margin:auto;
}

textarea {

    border-radius:10px;
    background-color: #303245;
    border-style:none;
    border-radius: 10px;
    color:white;
    padding-left:0.1px;
    padding-top:2px;
    margin-bottom:2vh;
}

.submit:hover {
    opacity:0.4;
    transition:0.3s;
    cursor: pointer;
}

.fieldset {
    margin-bottom:1.7vh;
}

.a-role {
    font-size:1rem;
    padding-top:1.2rem;
}

#select {
    display:flex;

}
select {
    height:4vh;
    width:10%;
    align-items: center;
    margin:1vh auto;  
    color:black;
}

option {
    color:black;
}

.prodej {
    width:100%;
}

#img {
    width:60%; 
    margin:1.2vh auto; 
}
